WebContent/wsdl/ShipmentStationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://shipment_station.service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://shipment_station.service" xmlns:intf="http://shipment_station.service" xmlns:tns1="http://shipment.dto" xmlns:tns2="http://part.dto" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://shipment_station.service" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://part.dto"/>
   <import namespace="http://shipment.dto"/>
   <element name="getAllShipments">
    <complexType/>
   </element>
   <element name="getAllShipmentsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllShipmentsReturn" type="tns1:ShipmentDTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns2_PartDTO">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:PartDTO"/>
    </sequence>
   </complexType>
   <element name="getShipment">
    <complexType>
     <sequence>
      <element name="shipmentId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getShipmentResponse">
    <complexType>
     <sequence>
      <element name="getShipmentReturn" type="tns1:ShipmentDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerShipment">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="parts" type="tns2:PartDTO"/>
      <element name="receiverFirstName" type="xsd:string"/>
      <element name="receiverLastName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerShipmentResponse">
    <complexType>
     <sequence>
      <element name="registerShipmentReturn" type="tns1:ShipmentDTO"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://part.dto" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://shipment.dto"/>
   <import namespace="http://shipment_station.service"/>
   <complexType name="PartDTO">
    <sequence>
     <element name="carChassisNumber" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="weightKg" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://shipment.dto" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://part.dto"/>
   <import namespace="http://shipment_station.service"/>
   <complexType name="ShipmentDTO">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="parts" nillable="true" type="impl:ArrayOf_tns2_PartDTO"/>
     <element name="receiverFirstName" nillable="true" type="xsd:string"/>
     <element name="receiverLastName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="registerShipmentRequest">

      <wsdl:part element="impl:registerShipment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllShipmentsRequest">

      <wsdl:part element="impl:getAllShipments" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerShipmentResponse">

      <wsdl:part element="impl:registerShipmentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllShipmentsResponse">

      <wsdl:part element="impl:getAllShipmentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getShipmentRequest">

      <wsdl:part element="impl:getShipment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getShipmentResponse">

      <wsdl:part element="impl:getShipmentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ShipmentStationService">

      <wsdl:operation name="getAllShipments">

         <wsdl:input message="impl:getAllShipmentsRequest" name="getAllShipmentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllShipmentsResponse" name="getAllShipmentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getShipment">

         <wsdl:input message="impl:getShipmentRequest" name="getShipmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getShipmentResponse" name="getShipmentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerShipment">

         <wsdl:input message="impl:registerShipmentRequest" name="registerShipmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerShipmentResponse" name="registerShipmentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShipmentStationServiceSoapBinding" type="impl:ShipmentStationService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllShipments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllShipmentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllShipmentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getShipment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getShipmentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getShipmentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerShipment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerShipmentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerShipmentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShipmentStationServiceService">

      <wsdl:port binding="impl:ShipmentStationServiceSoapBinding" name="ShipmentStationService">

         <wsdlsoap:address location="http://localhost:8080/CarFacilityServer/services/ShipmentStationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
