WebContent/wsdl/TrackingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tracker.service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://tracker.service" xmlns:intf="http://tracker.service" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="trackCarResponse">

      <wsdl:part name="trackCarReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="trackShipmentResponse">

      <wsdl:part name="trackShipmentReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="trackCarRequest">

      <wsdl:part name="carChassisNumber" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="trackShipmentRequest">

      <wsdl:part name="shipmentId" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TrackingService">

      <wsdl:operation name="trackCar" parameterOrder="carChassisNumber">

         <wsdl:input message="impl:trackCarRequest" name="trackCarRequest">

       </wsdl:input>

         <wsdl:output message="impl:trackCarResponse" name="trackCarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="trackShipment" parameterOrder="shipmentId">

         <wsdl:input message="impl:trackShipmentRequest" name="trackShipmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:trackShipmentResponse" name="trackShipmentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TrackingServiceSoapBinding" type="impl:TrackingService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="trackCar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="trackCarRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tracker.service" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="trackCarResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tracker.service" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="trackShipment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="trackShipmentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tracker.service" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="trackShipmentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tracker.service" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TrackingServiceService">

      <wsdl:port binding="impl:TrackingServiceSoapBinding" name="TrackingService">

         <wsdlsoap:address location="http://desktop-9ise3kk:8080/CarFacilityServer/services/TrackingService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
